.arcangeles {
  min-height: 100vh;
  width: 100%;
}

.arcangeles > .container {
  background-image: url("../../../assets/img_arc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  padding: 2rem 1rem;
}

.arcangeles h2 {
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 2rem;
}

.arcangeles h2 span {
  font-weight: 400;
}

.arc-img {
  width: 100%;
  max-width: 30rem;
  margin: auto;
}

.arc-arrow-text {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
  gap: 0.7rem;
}

.arc-arrow {
  display: none;
}

.arc-text h3 {
  font-weight: 900;
  color: var(--white-color);
  text-align: center;
}

.arc-text p {
  color: var(--white-color);
  text-align: center;
  line-height: 1.3rem;
}

.arc-text p span {
  font-weight: 800;
  text-align: center;
}

.arc-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  margin: 1.5rem 0;
}

.arc-button {
  background-color: transparent;
  border: none;
}

.arc-button span {
  background: -webkit-linear-gradient(90deg, #f8c10c, #ff0100);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.arc-button h3 {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 900;
}

.arc-description {
  min-height: 12rem;
}

.arc-description h3 {
  font-weight: 900;
  color: var(--white-color);
}

.arc-description p {
  color: var(--white-color);
  font-size: 1.1rem;
}

@media screen and (min-width: 768px) {
  .arcangeles h2 {
    font-size: 1.8rem;
    margin-bottom: 3rem;
  }

  .arc-arrow-text {
    padding: 2rem 2rem;
  }

  .arc-arrow {
    display: block;
    width: 6rem;
  }

  .arc-text {
    width: 80%;
  }

  .arc-text h3 {
    font-size: 1.5rem;
  }

  .arc-text p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .arc-list {
    width: 60%;
    margin: auto;
  }

  .arc-description {
    width: 80%;
    margin: auto;
    padding-top: 1.5rem;
  }
}
