.arcangeles {
  background-image: url("../../../assets/img_arc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 1.5rem;
}

.arcangeles > .container {
  padding-top: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.title-arcangeles h2 {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.title-arcangeles h2 span {
  font-weight: 400;
  font-size: 1.1rem;
}

.arcangeles_img {
  max-width: 30rem;
  margin: auto;
  filter: drop-shadow(0rem 0.5rem 0.2rem #2b133d);
}

.arrow {
  display: none;
}

.title_arc {
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
}

.title_arc h3 {
  text-align: center;
  color: #fff;
  margin-bottom: 0.5rem;
}

.title_arc p {
  color: #fff;
  text-align: center;
}

.arc_list {
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
}

.arc_list li span {
  margin-right: 0.3rem;
  background: linear-gradient(180deg, #f83801 0%, #f9c320 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 1024px) {
  .title-arcangeles h2 {
    margin-top: 1.5rem;
  }
  .arrow {
    display: block;
    width: 9rem;
  }

  .title_arrow {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .flex_content {
    display: flex;
    gap: 1.5rem;
  }

  .text_arc {
    width: 25rem;
  }

  .title_arc {
    width: 20rem;
  }

  .arc_list {
    justify-content: flex-end;
    padding-right: 2rem;
  }
}
