* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --prin-color: #cb0a79;
  --sec-color: #512474;
  --white-color: #fff;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

main {
  padding-bottom: 4rem;
  overflow-y: hidden;
}

.container {
  width: 95%;
  max-width: 1280px;
  margin: auto;
}

.none {
  display: none;
}

@media screen and (min-width: 1024px) {
  main {
    padding-bottom: 0;
  }
}
